# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions if any
*.so

# Distribution / packaging
.Python
env*/
venv*/
build/
develop-eggs/
dist/
downloads/
wheel*/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports, examples
htmlcov/
.tox/
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build
docs/apiref

# PyBuilder
target/

# pyenv python configuration file
.python-version
src/subscript/version.py

# other
.idea/
.projectile
.vscode/
.dir-locals.el
'.'/
*.swp

# Auto documentation
docs/subscript
