language: python

dist: trusty

compiler:
  - gcc

matrix:
  include:
    - python: '2.7'
    - python: '3.5'
    - python: '3.6'
    # - python: '3.7'  #  Missing working compile setup for sunbeam

before_install:
  - python --version
  - export CXX="g++-4.9" CC="gcc-4.9"
  - export INSTALL_DIR=`pwd`/../install
  - export PYTHONPATH=$INSTALL_DIR/lib/python$TRAVIS_PYTHON_VERSION/dist-packages:$PYTHONPATH
  - export LD_LIBRARY_PATH=$INSTALL_DIR/lib:$INSTALL_DIR/lib64:$LD_LIBRARY_PATH
  - echo $INSTALL_DIR
  - echo $PYTHONPATH
  - echo $LD_LIBRARY_PATH
  - echo "backend: Agg" > ~/.config/matplotlib/matplotlibrc

addons:
  apt:
    sources:
      - boost-latest
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.9
      - g++-4.9
      - libboost1.55-all-dev
      - liblapack-dev

sudo: required

install:
  - python -m pip install --upgrade pip
  - python -m pip install --upgrade -r requirements.txt
  - python -m pip install --upgrade -r requirements-dev.txt

before_script:
  # For now we have to make install libecl.
  # Remove when it's possible to pip install
  - source .libecl_version
  - git clone https://github.com/equinor/libecl
  - pushd libecl
  - git fetch
  - git checkout tags/$LIBECL_VERSION
  - pip install -r requirements.txt
  - mkdir build
  - pushd build
  - cmake .. -DENABLE_PYTHON=ON
             -DBUILD_APPLICATIONS=ON
             -DCMAKE_INSTALL_PREFIX=$INSTALL_DIR
             -DCMAKE_PREFIX_PATH=$INSTALL_DIR
             -DINSTALL_ERT_LEGACY=ON
             -DCMAKE_C_FLAGS='-Werror=all'
             -DCMAKE_CXX_FLAGS='-Werror -Wno-unused-result'
  - make
  - make install
  - popd;popd
  - rm -rf libecl
  - python -c "import ecl; print(ecl.__file__)"

  # We also need sunbeam, which requires opm-common:
  - git clone --recursive https://github.com/OPM/opm-common.git
  - git clone --recursive https://github.com/equinor/sunbeam.git
  - mkdir opm-common/build
  - pushd opm-common/build
  - git checkout release/sunbeam/2019.02
  - cmake .. -DCMAKE_PREFIX_PATH=$INSTALL_DIR
             -DCMAKE_INSTALL_PREFIX=$INSTALL_DIR
             -DBUILD_TESTING=OFF
             -DBUILD_SHARED_LIBS=ON
  - make -j 4 install
  - popd
  - mkdir sunbeam/build
  - pushd sunbeam/build
  - cmake .. -DCMAKE_PREFIX_PATH=$INSTALL_DIR
             -DUSE_RPATH=ON
             -DCMAKE_INSTALL_PREFIX=$INSTALL_DIR
             -DPYTHON_EXECUTABLE=`which python`
  - make -j 4 install
  - popd

script:
  - python setup.py test
  - python -m flake8 subscript
