language: python

dist: bionic

compiler:
  - gcc

addons:
  apt:
    packages:
      - libboost-all-dev
      - libboost-python-dev
      - liblapack-dev

sudo: required

matrix:
  include:
    - python: '3.6'
    - python: '3.7'
    - python: '3.8'

before_install:
  - pip install black && black --check *.py src/subscript/*/*.py tests/test*.py || echo
  - pip install flake8
  - flake8 src tests
  - python --version
  - export INSTALL_DIR=`pwd`/../install
  - export PATH=$PATH:$INSTALL_DIR/bin
  - export PYTHONPATH=$INSTALL_DIR/lib/python$TRAVIS_PYTHON_VERSION/site-packages:$INSTALL_DIR/lib/python$TRAVIS_PYTHON_VERSION/dist-packages:$PYTHONPATH
  - export LD_LIBRARY_PATH=$INSTALL_DIR/lib:$INSTALL_DIR/lib64:$LD_LIBRARY_PATH
  - export LIBECL_VERSION="2.6.0"
  - echo $INSTALL_DIR
  - echo $PYTHONPATH
  - echo $LD_LIBRARY_PATH
  - export MPLBACKEND="Agg"


install:
  - pip install .[tests,docs]

before_script:
# Build against specific (i.e. tested) opm-common version
# PyPI OPM is currently not an official tagged release.
  - git clone --recursive https://github.com/OPM/opm-common.git
              --branch=release/2020.04/rc2
  - pushd opm-common
  - mkdir build
  - pushd build
  - cmake .. -DCMAKE_PREFIX_PATH=$INSTALL_DIR
             -DCMAKE_INSTALL_PREFIX=$INSTALL_DIR
             -DOPM_ENABLE_PYTHON=ON
             -DOPM_INSTALL_PYTHON=ON
             -DBUILD_TESTING=OFF
             -DBUILD_SHARED_LIBS=ON
  - make -j 4 install
  - popd; popd
  - git clone --branch master --depth 1 https://github.com/equinor/ert
  - pushd ert
  - source .libres_version
  - rm -rf tests  # Avoid running these tests.
  - rm -rf test-data  # Avoid running these tests.
  - popd
  - git clone --branch $LIBRES_VERSION --depth 1 https://github.com/equinor/libres
  - pushd libres
  - pip install -r requirements.txt --prefix=$INSTALL_DIR
  - rm -rf python/tests  # Avoid running these tests.
  - rm -rf test-data  # Avoid running these tests.
  - popd
  - bash ert/.build_install.sh libres
  - pip install ert/ --prefix=$INSTALL_DIR

script:
  - python setup.py test
  - rstcheck -r docs
  - sphinx-build -W -b html -nv docs/ build/docs
