name: codecoverage
on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  coverage:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    env:
      OS: ${{ matrix.os }}
      PYTHON: '3.7'

    steps:
    - uses: actions/checkout@master

    - name: Setup Python
      uses: actions/setup-python@master
      with:
        python-version: 3.7

    - name: Install OPM-flow (for testing)
      run: |
        sudo apt-get install software-properties-common
        sudo apt-add-repository ppa:opm/ppa
        sudo apt-get update
        sudo apt-get install mpi-default-bin
        sudo apt-get install libopm-simulators-bin

    - name: Install subscript and test dependencies
      run: |
        pip install pip -U
        pip install git+https://github.com/equinor/fmu-tools  # Not on pypi
        pip install .[tests]

    - name: Generate coverage report
      run: |
        pytest tests --disable-warnings --cov=subscript --cov-report=xml

    - name: Upload coverage to Codecov
      run: |
        bash <(curl -s https://codecov.io/bash)
