name: codecoverage
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  coverage:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    env:
      OS: ${{ matrix.os }}
      PYTHON: '3.8'

    steps:
    - uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.8

    - name: Install OPM-flow and ResInsight (for testing)
      run: |
        sudo apt-get install software-properties-common
        sudo apt-add-repository ppa:opm/ppa
        sudo apt-get update
        sudo apt-get install mpi-default-bin
        sudo apt-get install libopm-simulators-bin
        sudo apt-get install resinsight

    - name: Install subscript and test dependencies
      run: |
        pip install pip -U
        pip install .[tests]

    - name: Force correct RIPS version
      run: |
        ResInsight --console --help | grep "ResInsight v. 2021.06" && pip install rips==2021.6.0.1 || true
        ResInsight --console --help | grep "ResInsight v. 2020.10" && pip install rips==2020.10.0.2 || true

    - name: Generate coverage report
      run: |
        pytest tests --disable-warnings --cov=subscript --cov-report=xml

    - name: Upload coverage to Codecov
      run: |
        bash <(curl -s https://codecov.io/bash)
